<body class="dash-bkg">

<h1 class="text-center"><%= current_user.name %>'s Dashboard</h1>
<div class="show-snow">
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Snow Report
  </button>
</div>
<div class="overlay">
  <span>    
    <%= render partial: 'partials/snow_graph' %>
  </span>
</div>
<div class="row">
  <%= render partial: 'partials/resort_search' %>
  <% unless current_user.phone_number %>
    <%= render partial: 'partials/phone_number_form' %>
  <% end %>
</div><br><br>
<% if current_user.resorts == [] %>
  <h3>Your dashboard is empty add your favorite resorts to begin playing</h3>
<% else %>
  <div class="resorts">
    <%= render partial: 'partials/users_resorts' %>
  </div>
<% end %>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

<script>

$(document).ready(function(){
  $('.overlay').hide();

  $('.show-snow').on('click', function () {

    $('.overlay').toggle();
  });
});

</script>
