<body class="dash-bkg">

<h1 class="text-center"><%= current_user.name %>'s Dashboard</h1>
<div>
  <%= render partial: 'partials/resort_search' %>
  <% unless current_user.phone_number %>
    <%= render partial: 'partials/phone_number_form' %>
  <% end %>
</div><br><br>
<% if current_user.resorts == [] %>
  <h3>Your dashboard is empty add your favorite resorts to begin playing</h3>
<% else %>
  <div class="resorts">
    <%= render partial: 'partials/users_resorts' %>
  </div>
<% end %>

<div class="container">
  <%= render partial: 'partials/snow_graph' %>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>
