<div class="resort-search">
  <h3 class="">Add a ski area to your dashboard</h3>
  <%= form_tag resorts_path, method: :get do %>
    <%= label_tag :state %>
    <%= select_tag :state, options_for_select(@states)%>
    <%= label_tag :city %>
    <%= text_field_tag :city %>
    <%= label_tag :resort_name %>
    <%= text_field_tag :resort_name %>
    <%= submit_tag "Search", class:"btn btn-success" %>
  <% end %>
</div>
