<h3>Search</h3>
<h4>Fields</h4>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    State
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">State</a></li>
    <li role="separator" class="divider"></li>
    <% @states.each do |k,v| %>
      <li><a href="#"><%= k %></a></li>
    <% end %>
  </ul>
</div><br>

<%= form_tag resorts_path, method: :get do %>
  <%= label_tag :city %>
  <%= text_field_tag :city %>
  <%= label_tag :resort_name %>
  <%= text_field_tag :resort_name %>
  <%= submit_tag "Search", class:"btn btn-success" %>
<% end %>
