<div class="container">

  <h2 class="center" >Favorite Resorts</h2>
  <div class="row">
    <% @resorts.each do |resort| %>
      <div class="col-sm-6 col-md-4">
        <ul>
          <li><h3>Name: <%= resort.official_name %></h3></li>
          <li>State: <%= resort.state %></li>
          <li>Description: <%= resort.description %></li>
          <li>Type: <%= resort.type %></li>
        </ul>
        <h4>Weather</h4>
        <h5>Today</h5>
        <%= @forecast.first %>
        <h5>Tomorrow</h5>
        <%= @forecast[1] %>
        <h5>Third day</h5>
        <%= @forecast.last %>
      </div>
    <% end %>
  </div>

</div>
